<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src=ZGFtYWRkaW44OEBnb29nbGVtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZGUuZ2VybWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%234285F4&amp;color=%2333B679&amp;color=%23F6BF26&amp;showTitle=1&amp;mode=MONTH&amp;showCalendars=1&amp;showDate=1&amp;showNav=1&amp;showPrint=1&amp;showTabs=1&amp;showTz=0&amp;hl=de&amp;title=LkG%20Ludwigslust" style="border:solid 1px #777" width="400" height="600" frameborder="0" scrolling="no"></iframe> -->
        <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&wkst=1&bgcolor=%23AD1457&ctz=Europe%2FBerlin&src=ZGFtYWRkaW44OEBnb29nbGVtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZGUuZ2VybWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23F09300&color=%238E24AA&mode=AGENDA&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0" style="border:solid 1px #777" width="400" height="600" frameborder="0" scrolling="no"></iframe>
        <img src="{{ .image2 }}" alt="" class="center db mb3" style="width: 480px"/>
        <div class="center db mb3" style="height: 200px">
        </div>
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
